/**
 * Thinker Language Translator Admin Settings Page Styles
 */

/**
* Main Styles
*/

.thinker_translator_settings_page .display-none {
	display: none;
}
.thinker_translator_settings_page .margin-bottom-0 {
	margin-bottom: 0;
}
.thinker_translator_settings_page .button.button-primary {
	border: 0;
	-webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);
	        box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.2);
	text-shadow:
		0 1px 1px rgba(0, 0, 0, 0.6),
		1px 0 1px rgba(0, 0, 0, 0.3),
		0 -1px 1px rgba(0, 0, 0, 0.15),
		-1px 0 1px rgba(0, 0, 0, 0.3);
}
.button.button-primary.thinker_translator_settings_form_remove {
	background: #d99f06;
}
.button.button-primary.thinker_translator_settings_form_remove:hover {
	background: #ffb900;
}
.button.button-primary.thinker_translator_settings_form_clear {
	background: #a92424;
}
.button.button-primary.thinker_translator_settings_form_clear:hover {
	background: #dc3232;
}
.thinker_translator_settings{
	float: left;
	width: 55%;
}
.thinker_translator_preview {
	float: left;
	width: 45%;
}

/**
* Settings Section
*/

.thinker_translator_settings > div {
	padding-right: 10px;
}
.thinker_translator_settings table.form-table {
	max-width: 600px;
}
.thinker_translator_settings table.form-table th,
.thinker_translator_settings table td {
	padding: 0;
	margin: 0;
	color: #000;
}
.thinker_translator_settings table.form-table th {
	width: 50%;
	max-width: 200px;
	min-width: 185px;
}
th .thinker_translator_settings_field,
.thinker_translator_settings select,
.thinker_translator_settings input {
	border: 1px solid #a6a6a6;
}
.wp-admin .thinker_translator_settings select[multiple] {
	height: auto;
}
.thinker_translator_settings_field {
	padding: 10px 0;
	margin-bottom: 0;
}
th .thinker_translator_settings_field {
	border: 0;
	padding-left: 10px;
}
th .thinker_translator_settings_field label,
th .thinker_translator_settings_field small {
	padding-left: 20px;
}
th .thinker_translator_settings_parent label {
	padding-left: 0;
}
.thinker_translator_settings_field_heading {
	height: 20px;
	border-top: 10px solid #7fb9d4;
	border-bottom: 10px solid #7fb9d4;
	padding: 10px 0;
	margin-top: 40px;
	margin-bottom: 30px;
}
.thinker_translator_settings_field_heading_1 {
	margin-top: 0;
}
th .thinker_translator_settings_parent label:before {
	content: "\25B7";
	display: inline-block;
	position: relative;
	width: 20px;
	color: #f00;
}
.thinker_translator_footer_settings_active #thinker_translator_footer_settings_desc.thinker_translator_settings_parent label:before,
.thinker_translator_float_settings_active #thinker_translator_float_settings_desc.thinker_translator_settings_parent label:before,
.thinker_translator_hover_settings_active #thinker_translator_hover_settings_desc.thinker_translator_settings_parent label:before,
.thinker_translator_hover_bg_settings_active #thinker_translator_hover_bg_settings_desc.thinker_translator_settings_parent label:before {
	content: "\25BC";
	color: #080;
}
.thinker_translator_hover_settings_disabled #thinker_translator_hover_settings_desc span,
.thinker_translator_hover_settings_disabled .thinker_translator_hover_settings_field label {
	display: none;
}
.thinker_translator_hover_settings_disabled #thinker_translator_hover_settings_desc::before {
	content: "Disabled By Inline Display";
	color: #f00;
	font-weight: 600;
}
.thinker_translator_settings h2 {
	margin: 0;
}
h2.thinker_translator_settings_top_heading {
	margin: 20px 0;
}
.thinker_translator_settings_page small {
	display: block;
	min-height: 20px;
	margin-top: 5px;
	color: #999;
	font-style: italic;
	font-weight: 400;
}
.thinker_translator_settings table th span {
	display: inline-block;
}
table th span.thinker_translator_settings_indent {
	margin-left: 15px;
}
table th .tlt-footer-dep,
table th .tlt-float-dep,
table th .tlt-hover-dep {
	margin-left: 35px;
}
table th .tlt-icon-bg-dep {
	margin-left: 50px;
}
.thinker_translator_footer_settings_inactive .tlt-footer-dep,
.thinker_translator_float_settings_inactive .tlt-float-dep,
.thinker_translator_hover_settings_inactive .tlt-hover-dep,
.thinker_translator_hover_bg_settings_inactive .tlt-icon-bg-dep {
	display: none;
	border: 0;
	margin: 0;
}
.thinker_translator_settings th label {
	cursor: auto;
}
.thinker_translator_settings input::-webkit-input-placeholder {
	color: #ccc;
}
.thinker_translator_settings input:-ms-input-placeholder {
	color: #ccc;
}
.thinker_translator_settings input::-ms-input-placeholder {
	color: #ccc;
}
.thinker_translator_settings input::placeholder {
	color: #ccc;
}

/* Chrome/Opera/Safari */
.thinker_translator_settings input::-webkit-input-placeholder {
	color: #ccc;
}

/* IE 10+ */
.thinker_translator_settings input:-ms-input-placeholder {
	color: #ccc;
}
.thinker_translator_settings input[type="number"] {
	width: 56px;
}
.thinker_translator_settings input[type="text"] {
	width: 100%;
}
.thinker_translator_settings select {
	width: 100%;
	max-width: 158px;
}
.thinker_translator_settings .wp-picker-container {
	position: relative;
}
.thinker_translator_settings .wp-picker-container .hidden {
	display: block;
}
.thinker_translator_settings .wp-picker-container input.wp-color-picker[type="text"] {
	width: auto;
	max-width: 110px;
}
.thinker_translator_settings .wp-picker-container button.wp-color-result {
	display: block;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 0 0 1px #cacaca;
	        box-shadow: 0 0 0 1px #cacaca;
	overflow: hidden;
}
.thinker_translator_settings .wp-picker-container .wp-color-result-text {
	height: 24px;
	border-radius: 0;
}
.wp-core-ui .thinker_translator_settings .button.button-small.wp-picker-clear {
	height: 23px;
}
.thinker_translator_settings .wp-picker-holder {
	position: absolute;
	top: 52px;
	right: 0;
}

/**
* Preview Section
*/

.thinker_translator_preview_open .thinker_translator_settings_results,
.thinker_translator_preview_close .thinker_translator_settings_no_results {
	display: block;
	width: 300px;
	text-align: center;
}
.thinker_translator_preview_close .thinker_translator_settings_results,
.thinker_translator_preview_open .thinker_translator_settings_no_results {
	display: none;
}
.thinker_translator_settings_no_results > div {
	display: inline-block;
	text-align: left;
}
.thinker_translator_settings_no_results .submit {
	padding-top: 0;
	margin-top: 0;
}
.thinker_translator_preview > div {
	position: fixed;
}
.thinker_translator_settings_results > div > div {
	margin-bottom: 30px;
}
.thinker_translator_settings_results small {
	margin-bottom: 20px;
	font-size: 14px;
}
.thinker_translator_example_wrap {
	position: relative;
	width: 100%;
	height: 400px;
}
.thinker_translator_example_wrap > div {
	display: inline-block;
	vertical-align: top;
}
.thinker_translator_example_wrap .thinkerlangt-body {
	padding: 5px;
	background: transparent none;
}

/**
* Media Queries
*/

@media screen and (max-width: 780px) {
	.thinker_translator_settings,
	.thinker_translator_preview {
		float: none;
		width: 100%;
	}
	.thinker_translator_preview > div {
		position: relative;
	}
	.thinker_translator_preview_close .thinker_translator_settings_no_results {
		display: none;
	}
	.thinker_translator_settings table.form-table,
	.thinker_translator_settings table.form-table th,
	.thinker_translator_settings .wp-picker-container input.wp-color-picker[type="text"],
	.thinker_translator_settings select {
		max-width: none;
	}
	.thinker_translator_settings table.form-table th {
		width: auto;
	}
	.thinker_translator_settings_field,
	th .thinker_translator_settings_field label,
	th .thinker_translator_settings_field small {
		padding-left: 0;
	}
	th .thinker_translator_settings_field {
		padding-bottom: 5px;
	}
	td .thinker_translator_settings_field {
		padding-top: 0;
	}
	table th .tlt-footer-dep,
	table th .tlt-float-dep,
	table th .tlt-hover-dep {
		margin-left: 0;
	}
	.thinker_translator_settings .wp-picker-holder {
		top: 67px;
		right: auto;
		left: 0;
	}
	.thinker_translator_settings .wp-picker-container .wp-color-result-text {
		height: auto;
	}
	.wp-core-ui .thinker_translator_settings .button.button-small.wp-picker-clear {
		height: auto;
		padding: 4px 14px 5px;
	}
	.thinker_translator_settings input[type="number"] {
		width: 65px;
	}
}
